<section class="sectionwrp">
    <div class="sectionwrp1">
        <span><label>Fresh To Home</label></span>
    </div>
    <div class="sectionwrp2">
        <button mat-button>Cart</button>
        <button mat-button (click)="about()">About</button>
        <button mat-button (click)="contact()">Contact us</button>
        <button mat-button>Log-in</button>
    </div>
</section>



<!-- <body>
    <header class="site-header">
        <div class="site-identity">
            <h1><a href="#">Fresh To Home</a></h1>
        </div>
        <nav class="site-navigation">
            <ul class="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Cart</a></li>
                <li><a (click)="contact()">Contact us</a></li>
            </ul>
        </nav>
    </header>
</body> -->