<body>  
    <footer class="site-footer-1">
      <div class="site-identity">
        <h1>
            <h1><a href="#">Fresh To Home</a></h1>
        </h1>
      </div>
      <nav class="site-footer">
        <ul class="nav">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
    </footer>
    <div class="footer-bottom">
        <p>&copy; 2023 Your Website. All rights reserved- Harshad Wagh</p>
      </div>

  </body>