<section >
    <h1 mat-dialog-title>Harshad Shashikant Wagh</h1>
    <div mat-dialog-content>
        Frontend Developer- Angular<br>
        TATA Consultancy Services Pvt. Ltd, Mumbai, Maharashtra, India
    </div>
    <div mat-dialog-content>
        <span>Mail To: harshadwagh535@gmail.com</span><br>
        Contact No: +91-7057094091 <br>
        Instagram: _harshad_wagh7372 <br>
    </div>
    <div class="popupwrp">
        <button mat-raised-button (click)="close()">Close</button>
    </div>
</section>